build/
Logs/
Temp/
Library/AtlasCache/
Library/Artifacts/
Library/PackageCache/
Library/BurstCache/
Library/PlayerDataCache/
Library/ShaderCache/
Library/StateCache/
Library/metadata/
Library/ScriptAssemblies/
LocalPackages/com.unity.render-pipelines.high-definition-config/CHANGELOG.md
LocalPackages/com.unity.render-pipelines.high-definition-config/CHANGELOG.md.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/LICENSE.md
LocalPackages/com.unity.render-pipelines.high-definition-config/LICENSE.md.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/package.json
LocalPackages/com.unity.render-pipelines.high-definition-config/package.json.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Tests.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Documentation~/index.md
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/Unity.RenderPipelines.HighDefinition.Config.Runtime.asmdef
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/Unity.RenderPipelines.HighDefinition.Config.Runtime.asmdef.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Tests/.tests.json
LocalPackages/com.unity.render-pipelines.high-definition-config/Tests/Editor.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Tests/Editor/ConfigurationTest.cs
LocalPackages/com.unity.render-pipelines.high-definition-config/Tests/Editor/ConfigurationTest.cs.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Tests/Editor/Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.asmdef
LocalPackages/com.unity.render-pipelines.high-definition-config/Tests/Editor/Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.asmdef.meta
Library/AnnotationManager
Library/ArtifactDB
Library/ArtifactDB-lock
Library/assetDatabase3
Library/AssetImportState
Library/CurrentLayout.dwlt
Library/CurrentLayout-default.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/EditorOnlyScriptingSettings.json
Library/EditorSnapSettings.asset
Library/expandedItems
Library/LastBuild.buildreport
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/SceneVisibilityState.asset
Library/ScriptMapper
Library/ShaderCache.db
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe10.log
Library/shadercompiler-UnityShaderCompiler.exe11.log
Library/shadercompiler-UnityShaderCompiler.exe12.log
Library/shadercompiler-UnityShaderCompiler.exe13.log
Library/shadercompiler-UnityShaderCompiler.exe14.log
Library/shadercompiler-UnityShaderCompiler.exe15.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/shadercompiler-UnityShaderCompiler.exe8.log
Library/shadercompiler-UnityShaderCompiler.exe9.log
Library/SourceAssetDB
Library/SourceAssetDB-lock
Library/Style.catalog
Library/APIUpdater/project-dependencies.graph
Library/UIElements/EditorWindows/UnityEditor.PackageManager.UI.PackageManagerWindow.pref
Library/UIElements/EditorWindows/UnityEditor.VFX.UI.VFXViewWindow.pref
Library/AnnotationManager
Library/ArtifactDB
Library/ArtifactDB-lock
Library/assetDatabase3
Library/AssetImportState
Library/CurrentLayout.dwlt
Library/EditorInstance.json
Library/UIElements/EditorWindows/UnityEditor.ShaderGraph.Drawing.MaterialGraphEditWindow.pref
Library/il2cpp_cache/
Library/il2cpp_cache 2019.4.18f1 (3310a4d4f880)
Library/webgl_cache/
Library/il2cpp_android_arm64-v8a/
Library/il2cpp_android_armeabi-v7a/
Library/Il2cppBuildCache/
Assets/StreamingAssets/
REMOVE_*
